.appHeader {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.hamburgerMenu {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  padding: 0;
  z-index: 10;
}

/* Show hamburger on mobile */
@media (max-width: 768px) {
  .hamburgerMenu {
    display: flex;
  }
}

.hamburgerLine {
  width: 2rem;
  height: 0.25rem;
  background: #fff; /* Bright color for visibility */
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  transform-origin: 10px;
}

/* Animate to 'X' when open */
.open .hamburgerLine:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}

.open .hamburgerLine:nth-child(2) {
  opacity: 0;
}

.open .hamburgerLine:nth-child(3) {
  transform: translateY(-0.4rem) rotate(-45deg);
}
